.hero-page{
    width:100%;
    height:50%;
    .hero-copy{
        text-align:center;
        h2{
            text-align:left;
            position:relative;
            font-size:65px;
            line-height:65px;
            text-transform:uppercase;
            letter-spacing:5px;
            color:white;
        }
        .heading-decor{
            background:rgba(255,255,255,0.6);
        }
    }
}


section.about{
    padding:120px 0;
    background: url(../img/about-building-bg.jpg) no-repeat center bottom;
    .col-1-2{
        &:first-child{
            padding-right:60px;
        }
    }
    .caption{
        font-size:12px;
        font-style:italic;
        color:#777;
        float:right;
        padding-top:10px;
        padding-right:15px;
    }
    .about-images{
        border:15px solid white;
        box-shadow:-20px 20px 80px 0 rgba(0,0,0,0.4);
    }
    img{ 
        
        display:block;
        
    }
    h3{
        text-align:left;
        position:relative;
        z-index:2;
        font-size:35px;
        line-height:35px;
        text-transform:uppercase;
        letter-spacing:4px;
        //max-width:350px;
    }
    p{
        text-align:left;
        font-family:"Montserrat";
        font-size:15px;
        line-height:25px;
        font-weight:300;
        letter-spacing:0.5px;
        margin-top:30px;
    }
    strong{
        font-style:italic;
        font-weight:400;
        font-family:"Alice";
        font-size:17px;
    }
}


section.team{
    padding:180px 0;
    background:#111;
    text-align:center;
    color:white;
    .container{
        max-width:800px;
    }
    h3{
        display:inline-block;
        position:relative;
        z-index:2;
        font-size:30px;
        line-height:30px;
        text-transform:uppercase;
        letter-spacing:4px;
    }
    h4{
        display:inline-block;
        position:relative;
        font-size:20px;
        line-height:20px;
        //text-transform:uppercase;
        letter-spacing:1px;
        padding-top:25px;
    }
    p{
        font-size:14px;
        color:#888;
        padding-top:5px;
    }
    .row{
        padding-top:8%;
    }
    .col-1-2{
        width:46%;
        margin-right:8%;
        &:last-child{
            margin-right:0;
        }
        img{
            display:block;
            width:100%;
        }
    }
    .team-thumb{
        cursor:pointer;
    }
    .bio{
        padding:160px 30px 120px 30px;
        display:none;
        z-index:9999;
        position:fixed;
        top:0;left:0;
        width:100%;
        height:100%;
        background:rgba(10,10,10,0.95);
        text-align:left;
        overflow:scroll;
        .container{
            max-width:500px;
        }
        img{
            padding-bottom:30px;
        }
        h4{
            text-align:left;
            display:inline-block;
            position:relative;
            font-size:35px;
            line-height:35px;
            letter-spacing:1px;
            padding-top:0;
            strong{
                font-family:"Montserrat";
                font-size:20px;
                color:#888;
            }
        }
        p{
            font-size:15px;
            line-height:25px;
            margin-top:20px;
            text-align:left;
        }
        .modal-close{
            position:absolute;
            top:50px;right:40px;
            width:50px;
            cursor:pointer;
            img{
                display:block;
                width:50px;

            }
        }
    }
}



